:root{
    --crl-Primary-Bright-orange: hsl(31, 77%, 52%);
    --crl-Primary-Dark-cyan: hsl(184, 100%, 22%);
    --crl-Primary-Very-dark-cyan: hsl(179, 100%, 13%);

    --crl-Neutral-Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --crl-Neutral-Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);

    --fs: 15px;
    
    --ff-accent-700: 'Big Shoulders Display', 'cursive';
    --ff-accent-400: 'Lexend Deca', sans-serif;
    
    --fw-regular: 400;
    --fw-bold: 700
}
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  p{
    font-size: var(--fs);
    color: var(--crl-Neutral-Transparent-white-paragraphs);
    font-family: var(--ff-accent-400);
    font-weight: var(--fw-regular  );
    opacity: 0.7;
    line-height: 24px;
    margin-bottom: 4rem;
    width: 13rem;
  }
  h1{
    text-transform: uppercase;
    color: var(--crl-Neutral-Very-light-gray-background-headings-buttons);
    font-family: var(--ff-accent-700);
    font-weight: var(--fw-bold);
    font-size: 45px;
    margin-bottom: 2.5rem;
  }

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
  
}  
.product{
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: min-content;
}
.sedans-product{
  padding: 3rem;
  background-color: var(--crl-Primary-Bright-orange);
}
.suvs-product{
  padding: 3rem;
  background-color: var(--crl-Primary-Dark-cyan);
}
.luxury-product{
  padding: 3rem;
  background-color: var(--crl-Primary-Very-dark-cyan);
}
.btn{
  border: none;
  border-radius: 5rem;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  font-weight: var(--fw-bold);
}
@media(min-width: 700px){
  .product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}